@import "tailwindcss";

@theme {
  --font-sans: 'Geist', ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-bg-app: #fdfdfd;
  --color-bg-surface: #ffffff;
  --color-stroke-subtle: #f1f5f9;
  --color-stroke-medium: #e2e8f0;
  --color-accent-primary: #000000;
  --color-accent-soft: #f8fafc;
  --color-text-main: #020617;
  --color-text-dim: #64748b;

  --radius-xl: 12px;
}

@layer base {
  body {
    @apply m-0 bg-[var(--color-bg-app)] text-[var(--color-text-main)] min-h-screen antialiased;
    background-image: 
      radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.05) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(168, 85, 247, 0.05) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(244, 63, 94, 0.05) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(251, 146, 60, 0.05) 0px, transparent 50%);
  }
}

.pro-card {
  @apply bg-[var(--color-bg-surface)] border border-[var(--color-stroke-subtle)] shadow-sm;
}

.code-font {
  @apply font-mono;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full;
}
